@media screen and (min-width: 48rem) {

    /*  CONTENT    */
    main {
        margin: 1rem auto 2.5rem;
    }

    .header_hamburger {
        right: 2rem !important;  
    }

    .burger {
        width: 1.95rem;
    }

    /* LOAD SCREEN */
    #load_screen {
    background-position-y: 0;
    background-size: cover;
    }

    /* Index SPECS */
    #featured {
        text-align: left;
        margin-left: 1rem;
    }

    #banner, #banner_img {
        width: 45rem;
        height: 45rem;
        margin: auto;
        position: relative;
    }

    #home_container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }

    #banner_cap {
        top: -8rem;
    }

    #banner_heart {
        position: absolute;
        top: 28rem;
        right: 1.5rem;
    }
    
    /* Search SPECS */
    #search_container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
     }

    #search-bar {
        padding: .4rem 26rem .4rem 2.2rem;
    }

    #wordmark_logo {
        width: 13.125rem;
        top: 1rem;
        margin-left: 1rem;
    }

    /* Recipe SPECS */
     #recipe_container {
         width: 75%;
     }

     .recipe_img {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }

    #recipe_des {
        width: 80%;
        margin: .5rem auto;
    }

    #case-hero {
        height: 60vh;
    }

    .card {
        width: 30rem;
    }

    #filter_drop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .radio {
        left: 6rem;
      }
}