@media screen and (min-width: 70rem) {
    body {
        margin: 0 !important;
        max-width: unset;
        display: flex;
        flex-direction: column;
        /* width: 90rem; */

    }

    #top {
        margin: 0 auto;
    }

    main {
        width: 70rem;
    }

    footer {
        width: 100%;
        align-self: center;
    }

    #home_container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
    }

    #banner, #banner_img {
        width: 40vw;
        height: 50vh;
    }

    .index_item {
        width: 21.975rem;

    }
    
    .index_img {
        height: 21.975rem;

    }

    #search_container {
        grid-template-columns: 33% 33% 33%;
    }

/* 
    #banner_cap {
        top: 25rem;
    } */

    .burger {
        color: #0DDFCd;
    }

    /* #index_item, #index_img {
        width: 18rem;
    } */

    #load_screen {
        background-position-x: 0;
    }
    /* #load_screen {
        background-image: url(../img/food.jpg);
        background-position-x: -30rem;
        background-position-y: -7rem;
        height: 100vh;
        width: 100vw;
        z-index: 50;
        visibility: visible;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    #absolute_logo {
        width: 8rem;
        position: absolute;
        left: 1rem;
    }

    .steps {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .steps h5 {
        grid-column: 1 / 3;
        margin-bottom: .8rem;
    }

    #hamburger {
        right: .75rem;
        top: .1rem;
        /* background-color: #0DDFCd; */
        border-radius: 2rem;
        padding: 1rem 1rem;
        position: absolute;
        z-index: 30;
     } 

     #recipe_header {
         width: 100%;
         align-self: center;
     }
}