/*        TABLET          */

@media screen and (min-width: 48rem) {
    /* LOAD SCREEN */
#load_screen {
    background-position-y: 0;
    background-size: cover;
}

    /* Index SPECS */


    .header_hamburger {
        right: 2rem !important;  
    }

    main {
        margin: 1rem auto;
    }

    .burger {
        width: 1.95rem;
    }

    #banner, #banner_img {
        width: 93vw;
        height: 50vh;
        margin: auto;
        position: relative;
    }

    #home_container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }


    #banner_cap {
        top: -8rem;
    }

    #banner_heart {
        position: absolute;
        top: 28rem;
        right: 1.5rem;
    }
    
    /* Search SPECS */
    
    #search_container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
     }
     
    /* #search-bar:focus, #search-bar:active {
        padding: .4rem 15rem .4rem 2.2rem;
    } */

    /* #search-bar:focus, #search-bar:active {
        width: 55%;
        background-color: #fff;
        border-color: #fff;
        box-shadow: 0 0 .625rem rgba(255,255,255,.5);
        padding: .4rem 3.6rem .4rem 2.2rem;
    } */

    #search-bar {
        padding: .4rem 26rem .4rem 2.2rem;
    }

    /* #submit {
        right: -41rem;
    } */

    #wordmark_logo {
        width: 13.125rem;
        top: 1rem;
        margin-left: 1rem;
    }

    /* Recipe SPECS */

     #recipe_container {
         width: 75%;
     }

     .recipe_img {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }

    #recipe_des {
        width: 80%;
        margin: .5rem auto;
    }
}